@import "tailwindcss";

@theme {
  --font-syne: "Syne", sans-serif;
  --font-dm: "DM Sans", sans-serif;
}

* { box-sizing: border-box; margin: 0; padding: 0; }

html, body {
  height: 100%;
  background: #080f0c;
  color: #e4f2ec;
  font-family: "DM Sans", sans-serif;
}

::-webkit-scrollbar { width: 4px; }
::-webkit-scrollbar-thumb {
  background: rgba(13,206,143,0.2);
  border-radius: 4px;
}